<form name="user_delete_form" action="{{ path('user_delete') }}" method="post"></form>
<script type="text/javascript">
function confirmUserDelete(){
    var response = confirm("{% trans %}warning{% endtrans %} {% trans %}you can not undo this action are you sure you want to continue{% endtrans %}?");
    //check if the user pressed ok
    if (response == true){
        //delete the account
        document.user_delete_form.submit();
    }
}
</script>
<a title="{% trans %}delete your account{% endtrans %}" href="javascript:confirmUserDelete()">{% trans %}delete your account{% endtrans %}</a><br>
<noscript>{% trans %}You have to enable javascript in order to use this feature{% endtrans %}</noscript>