<form name="user_delete_form" action="{{ url('user_delete') }}" method="post"></form>
<script type="text/javascript">
function confirmUserDelete(){
    var response = confirm("{% trans %}warning this action can not be undone are you sure{% endtrans %}?");
    //check if the user pressed ok
    if (response == true){
        //delete the account
        document.user_delete_form.submit();
    }
}
</script>
<a title="{% trans %}delete your account{% endtrans %}" href="javascript: confirmUserDelete()">{% trans %}delete your account{% endtrans %}</a><br />
<noscript>{% trans %}You have to enable javascript in order to use this feature{% endtrans %}</noscript>